form {
  display: flex;
  flex-direction: column;
  padding: 10px;

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    span {

    }
  }

  input, select {
    border: 1px solid #000;
    height: 25px;
    border-radius: 5px;
  }

  button[type="submit"] {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
  }
}